@import url('https://fonts.googleapis.com/css2?family=Modern+Antiqua&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


table {
  width: 100%;
  border: 1px solid #46617b;
}
table td {
  padding: 10px;
  
}